<nav class="navbar navbar-expand-lg navbar-dark bg-color">
    <h2 class ="text-white"><i class="material-icons">restaurant_menu</i>truYum</h2>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapse-nav-bar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse-nav-bar">	
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link  text-white" routerLink="/food-menu" routerLinkActive="active-link">Menu Items</a>
                </li>
                <span *ngIf="getRole()!='anonymous'">
                    <li class="nav-item">
                        <i class="material-icons text-white"style='font-size:34px;'>perm_identity</i>
                    </li>
                </span>
                <span *ngIf="getRole()!='anonymous'">
                    <li class="nav-item ml-auto pt-2">
                        <span class="text-white nav-text">{{getUsers()}}</span>
                    </li>
                </span>
                <span *ngIf="getRole()!='admin'&& getRole()!='anonymous'">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/cart" routerLinkActive="active-link" >Cart</a>
                    </li>
                </span>
                <span *ngIf="getRole()=='anonymous'">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/login" routerLinkActive="active-link">Login </a>
                    </li>
                </span>
                <span *ngIf="getRole()=='anonymous'">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/signup" routerLinkActive="active-link" >Signup</a>
                    </li>
                </span>
                <span *ngIf="getRole()!='anonymous'">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/food-menu" routerLinkActive="active-link" (click)="logout()">Logout</a>
                    </li>
                </span>
            </ul>
        </div>
</nav>
