<div class="jumbotron">
	<div class="container-fluid">
		<h3 class="search-text">Find Movies</h3>
			<div class="input-group">
				<button type="submit"><i class="material-icons">theaters</i></button>
                    <input 
                        type="text" 
                        name="search" 
                        class="form-control" 
                        placeholder="Search Movies"
                        [(ngModel)]="searchString"
                        (keyup)="filterData()"
                    />
			</div>
    </div>
</div>
